# Data Loading

### Import libraries

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp

### A List of available DataFrame methods

In [70]:
dir(pd.DataFrame)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_valid_indices',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

### Read CSV training file from the folder using pandas library

In [71]:
rtb = pd.read_csv("train.csv")
rtbValid = pd.read_csv("validation.csv")
rtb.head()

,click,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,...,slotheight,slotvisibility,slotformat,slotprice,creative,bidprice,payprice,keypage,advertiser,usertag
0,0,5,22,b7bea80521fdecd95d2d761a38c91c3f09618066,2e880fb7d690cf7377b2e42e701728e3f3c0e4c1,windows_ie,125.37.175.*,2,2,2.0,...,200,2,0,5,a4f763f78ef3eedfe614263b94a8924e,238,5,0f951a030abdaedd733ee8d114ce2944,3427,NaN
1,0,1,20,4f51205475678f5a124bc76b2c54163bf8eaa7eb,3a1fe01360ff8100e7d006b83b77a3e4c01d928c,windows_chrome,171.36.92.*,238,239,1.0,...,250,FourthView,Na,0,10722,294,23,NaN,2821,NaN
2,0,3,13,b604e3fd054a658ab7ced4285ebf2ef54d2bd890,801d18a056b6fe6b06a794aef17fb0d6daff2414,windows_ie,59.46.106.*,40,41,2.0,...,250,2,0,5,798b2d49952d77f1eace9f23c210d0b5,238,24,0f951a030abdaedd733ee8d114ce2944,3427,"10052,10006,13866,10110"
3,0,6,23,0348beeae93e561584c3b50fc9e7746a33048ad7,0d6eaf2259699990e38a1fc5116f112070b9ecdc,windows_ie,114.250.226.*,1,1,1.0,...,600,2,1,0,cb7c76e7784031272e37af8e7e9b062c,300,25,bebefa5efe83beee17a3d245e7c5085b,1458,"13866,10063,10111"
4,0,5,6,268149c1789bce2bc9798ffd97ec431219bafeb3,a239d9bb642460d974ba67f85e63b8d3e214da0e,windows_ie,183.63.192.*,216,233,2.0,...,90,OtherView,Na,133,7330,277,133,NaN,2259,NaN

# Data Analysis whole dataset

In [72]:
rtb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430981 entries, 0 to 2430980
Data columns (total 25 columns):
click             int64
weekday           int64
hour              int64
bidid             object
userid            object
useragent         object
IP                object
region            int64
city              int64
adexchange        float64
domain            object
url               object
urlid             float64
slotid            object
slotwidth         int64
slotheight        int64
slotvisibility    object
slotformat        object
slotprice         int64
creative          object
bidprice          int64
payprice          int64
keypage           object
advertiser        int64
usertag           object
dtypes: float64(2), int64(11), object(12)
memory usage: 463.7+ MB

In [73]:
#Number of rows where payprice == 0
print("Number of rows where payprice ==0")
print(len(rtb[rtb['payprice']==0]))
rtb[rtb['payprice']== 0].groupby(['slotid']).size()

Number of rows where payprice ==0
487

slotid
3175797632                       1
542871075                        1
ALLINONE_F_Width1                5
Auto_F_Rectangle                 3
Edu_F_Rectangle                  2
Ent_F_Upright                    1
Ent_F_bottom_Width               3
News_F_Rectangle                 1
News_F_Width1                    4
QQlive_SP_dsj_bottom_Width     296
QQlive_SP_dypd_bottom_Width     90
QQlive_SP_zypd_bottom_Width     77
Sports_F_Rectangle               2
Sports_F_Width1                  1
dtype: int64

In [74]:
#Number of Impressions in the data set
print("Number of Impressions in this data set")
Count_Imps = len(rtb)
Count_Imps2 = len(rtbValid)
print(Count_Imps)
print(Count_Imps2)

Number of Impressions in this data set
2430981
303925

In [75]:
#Number of clicks and non-clicks in the data set
click = rtb.groupby(['click']).size()
click_valid = rtbValid.groupby(['click']).size()

print('Number of clicks (1) and non-clicks (0) in the data set')

print(click)
print(click_valid)

Number of clicks (1) and non-clicks (0) in the data set
click
0    2429188
1       1793
dtype: int64
click
0    303723
1       202
dtype: int64

In [76]:
#Number of clicks in the data set
print("Number of Clicks in this data set")
Clicks = rtb.click.nonzero()
Count_Clicks = len(Clicks[0])
print(Count_Clicks)

Number of Clicks in this data set
1793

In [77]:
#CTR across the data set
CTR = (Count_Clicks / Count_Imps)
print(CTR)
print(CTR*100)

0.0007375623256619447
0.07375623256619447

In [78]:
#Total Pay Price across all bids in the data set
Total_Cost = rtb.loc[:,"payprice"].sum()
print("Total Pay Price across all bids in the data set")
print(Total_Cost)

Total Pay Price across all bids in the data set
189984608

In [97]:
#Mean CPM across all impressions in the dataset
Mean_CPM = rtb.loc[:,"payprice"].mean()
Mean_CPM_2 = rtbValid.loc[:,"payprice"].mean()
print("Mean CPM across all impressions in the dataset")
print(Mean_CPM)
print(Mean_CPM_2)

Mean CPM across all impressions in the dataset
78.15141623895867
78.23400509994242

In [80]:
#Mode CPM across all impressions in the dataset
Mode_CPM = rtb.loc[:,"payprice"].mode()
print(Mode_CPM)

0    70
dtype: int64

In [81]:
#Median CPM across all impressions in the dataset
Median_CPM = rtb.loc[:,"payprice"].median()
print(Median_CPM)

68.0

In [82]:
#Mean bidprice across all impressions in the dataset
Mean_bidprice = rtb.loc[:,"bidprice"].mean()
print("Mean bid price across all impressions in the dataset")
print(Mean_bidprice)

Mean bid price across all impressions in the dataset
272.9620461862927

In [83]:
#Highest bidprice across all impressions in the dataset
Max_bidprice = rtb.loc[:,"bidprice"].max()
print("Maximum bid price across all impressions in the dataset")
print(Max_bidprice)

Maximum bid price across all impressions in the dataset
300

In [84]:
#Highest bidprice across all impressions in the dataset
Min_bidprice = rtb.loc[:,"bidprice"].min()
print("Minimum bid price across all impressions in the dataset")
print(Min_bidprice)

Minimum bid price across all impressions in the dataset
227

In [85]:
#Mean slotprice across all impressions in the dataset
Mean_slotprice = rtb.loc[:,"slotprice"].mean()
print("Mean slot price across all impressions in the dataset")
print(Mean_slotprice)

Mean slot price across all impressions in the dataset
26.71782502619313

In [86]:
#eCPC (mean CPC) across all impressions in the dataset
eCPC = (Mean_CPM/1000)/CTR
print("eCPC across all impressions in the dataset")
print(eCPC)

eCPC across all impressions in the dataset
105.95906748466258

In [87]:
#Show all clicked impressions
clicked_impressions = rtb.loc[rtb['click'] == 1]

print(click.head())

click
0    2429188
1       1793
dtype: int64

In [88]:
#Show average prices for clicked impressions
average_bidprice = clicked_impressions.loc[:,'bidprice'].mean()
average_payprice = clicked_impressions.loc[:,'payprice'].mean()
print("Average pay prices for clicked impressions")
print(average_payprice)
print("Average bid prices for clicked impressions")
print(average_bidprice)

Average pay prices for clicked impressions
105.46402677077523
Average bid prices for clicked impressions
273.2269938650307

# Data Analysis by Advertisers

In [89]:
# Look at click and non click for each advertiser
df_click = rtb.groupby(['advertiser','click']).size().reset_index(name ='click_or_no_click')
df_click

    advertiser  click  click_or_no_click
0         1458      0             491968
1         1458      1                385
2         2259      0             133630
3         2259      1                 43
4         2261      0             110086
5         2261      1                 36
6         2821      0             211235
7         2821      1                131
8         2997      0              49612
9         2997      1                217
10        3358      0             264754
11        3358      1                202
12        3386      0             454721
13        3386      1                320
14        3427      0             402534
15        3427      1                272
16        3476      0             310648
17        3476      1                187

In [90]:
# Calculate number of bids for each advertisers

bid_counts = rtb.groupby(['advertiser']).agg({'bidid':'size'}).rename(columns={'bidid':'number_of_bids'})
bid_counts_sorted = bid_counts.sort_values(by=['number_of_bids'], ascending= False)
bid_counts_sorted

            number_of_bids
advertiser
1458                492353
3386                455041
3427                402806
3476                310835
3358                264956
2821                211366
2259                133673
2261                110122
2997                 49829

In [91]:
advertisers_grouped = rtb.groupby(['advertiser']).mean()
advertisers_grouped

,click,weekday,hour,region,city,adexchange,urlid,slotwidth,slotheight,slotprice,bidprice,payprice
advertiser,,,,,,,,,,,,
1458,0.000782,2.995215,14.071445,144.312473,149.355330,2.027846,NaN,596.508249,204.694863,28.275305,300.000000,68.992646
2259,0.000322,3.112895,10.480853,216.000000,222.848391,1.952249,NaN,506.677803,191.845399,24.529157,288.078939,92.974931
2261,0.000327,4.403498,11.964285,139.525109,143.821925,1.993889,NaN,498.512577,217.682570,27.127967,287.877981,89.662184
2821,0.000620,0.656827,16.050997,141.102732,145.679632,2.764513,NaN,611.500809,185.094008,23.308943,290.224894,89.077922
2997,0.004355,3.531116,17.154227,153.235064,157.645748,NaN,NaN,320.000000,50.000000,33.779586,277.000000,62.800116
3358,0.000762,3.222120,12.144062,152.834255,157.709752,1.672632,NaN,561.837830,197.195572,17.419896,232.981091,84.720599
3386,0.000703,3.006035,13.779347,145.088774,149.961441,2.200648,NaN,580.857817,183.502366,29.499239,300.000000,76.766320
3427,0.000675,3.116825,13.722705,146.293370,151.283074,2.138687,NaN,621.612533,177.090783,29.293809,236.388882,75.616329
3476,0.000602,2.748860,12.490978,144.622372,149.276166,2.104564,NaN,574.649168,190.843245,26.748307,247.856152,76.950083

In [92]:
#Number of advertisers in the data set
print('Number of advertisers in the data set')
print(len(advertisers_grouped), 'Advertisers')

Number of advertisers in the data set
9 Advertisers

# Data Analysis by Weekday

In [93]:
# Look at click and non click for each weekday
df_click_no_click = rtb.groupby(['weekday','click']).size().reset_index(name ='click_or_no_click').sort_values(by=['click_or_no_click'], ascending= False)
df_click = df_click_no_click[df_click_no_click['click'] == 1].reset_index(drop=True).sort_values(by=['click'], ascending= False)
df_click

   weekday  click  click_or_no_click
0        2      1                286
1        3      1                283
2        0      1                271
3        4      1                264
4        1      1                249
5        5      1                247
6        6      1                193

# Data Analysis by Hour

In [94]:
# Look at click and non click for each day hour
df_click = rtb.groupby(['hour','click']).size().reset_index(name ='click_or_no_click').sort_values(by=['click_or_no_click'], ascending= False)
df_click

    hour  click  click_or_no_click
0      0      0             177041
36    18      0             154993
44    22      0             153618
32    16      0             149683
30    15      0             148775
34    17      0             143358
26    13      0             140329
28    14      0             132691
24    12      0             128531
22    11      0             128483
20    10      0             127249
40    20      0             121137
38    19      0             120199
46    23      0             113636
42    21      0             101983
18     9      0              82357
16     8      0              69166
2      1      0              60298
14     7      0              46458
4      2      0              34338
6      3      0              33111
12     6      0              23041
10     5      0              19851
8      4      0              18862
37    18      1                156
35    17      1                146
45    22      1                138
33    16      1                124
1      0      1                122
39    19      1                119
27    13      1                114
47    23      1                102
31    15      1                 92
43    21      1                 92
41    20      1                 91
29    14      1                 81
25    12      1                 71
21    10      1                 70
23    11      1                 65
19     9      1                 42
3      1      1                 33
15     7      1                 32
17     8      1                 31
5      2      1                 23
11     5      1                 16
7      3      1                 15
9      4      1                 12
13     6      1                  6

# Data Analysis by AdExchange

In [95]:
# Look at click and non click for each weekday
df_click = rtb.groupby(['adexchange','click']).size().reset_index(name ='click_or_no_click').sort_values(by=['click_or_no_click'], ascending= False)
df_click

   adexchange  click  click_or_no_click
4         3.0      0             818894
2         2.0      0             763042
0         1.0      0             717683
6         4.0      0              79957
1         1.0      1                588
5         3.0      1                564
3         2.0      1                386
7         4.0      1                 38

# Data Analysis by UserAgent

In [96]:
# Look at click and non click for each weekday
df_click = rtb.groupby(['useragent','click']).size().reset_index(name ='click_or_no_click').sort_values(by=['click_or_no_click'], ascending= False)
df_click

           useragent  click  click_or_no_click
43        windows_ie      0            1460721
39    windows_chrome      0             794222
8     android_safari      0              61279
29        mac_safari      0              37280
41   windows_firefox      0              22261
52  windows_theworld      0              14020
48     windows_other      0              11121
27         mac_other      0               7761
45   windows_maxthon      0               7412
47     windows_opera      0               2197
22        mac_chrome      0               1938
6      android_other      0               1809
36       other_other      0               1651
50    windows_safari      0               1612
15      linux_chrome      0                979
44        windows_ie      1                944
24       mac_firefox      0                744
0     android_chrome      0                478
5      android_opera      0                406
17     linux_firefox      0                355
40    windows_chrome      1                350
13        ios_safari      0                349
9     android_safari      1                298
21      linux_safari      0                134
30        mac_safari      1                121
35       other_opera      0                103
20       linux_other      0                 52
38      other_safari      0                 47
11         ios_other      0                 38
4    android_maxthon      0                 37
25       mac_maxthon      0                 32
19       linux_opera      0                 24
28         mac_other      1                 24
26         mac_opera      0                 23
2    android_firefox      0                 20
18          linux_ie      0                 17
32      other_chrome      0                 16
34          other_ie      0                 14
10     android_sogou      0                 14
31         mac_sogou      0                 12
49     windows_other      1                 12
7      android_other      1                 12
42   windows_firefox      1                 10
51     windows_sogou      0                  5
53  windows_theworld      1                  5
46   windows_maxthon      1                  4
16      linux_chrome      1                  4
3         android_ie      0                  4
23        mac_chrome      1                  3
14        ios_safari      1                  2
1     android_chrome      1                  2
12         ios_other      1                  1
37       other_other      1                  1
33     other_firefox      0                  1